{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}
{% block content %}
{{ block.super }}

<!-- <!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1"> -->
<style>
    .cont{
        background-image:url("/media/projectpic/school8.jpg");
        background-repeat:no-repeat;
        background-size:100% 100%;
        /* margin-top:-200px; */
    }
</style>
<!-- </head> -->
<body>
    <div class="cont">
      <div class="" style="background-color:rgba(95, 255, 235,0.3);margin-top:-20px;">
        <div class="container">
            <div class="jumbotron" style="text-align:center;background-color:rgba(255, 255, 255,0.5);margin-top:120px;margin-bottom:100px;">
                <h1 style="color:rgb(0, 0, 0);margin-bottom:50px;">Our Mission & Vision</h1>

                <div class="well" style="background-color:rgba(95, 255, 225,0.9);">

                    <h2>Mission</h2>
                    <p>Our mission is to deliver optimal solutions with quality and services at real time.</p>

                </div>
                <div class="well" style="background-color:rgba(95, 255, 225,0.9);">
                    <h2>Vision</h2>
                    <p>Our vision is to develop in a constant manner and grow as a major IT service provider to become a leading performer.</p>
                </div>
            </div>
        </div>
      </div>
    </div>
</body>
<!-- </html> -->
{% endblock %}
