{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}
{% block content %}
{{ block.super }}

<!-- <!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1"> -->
<style>
  body{
   background-image: url("/media/projectpic/school5.jpg");
   background-repeat: no-repeat;
   background-size: 100% 350px;
  }
  .cont{
    background:rgba(150,250,250,0.3);
    margin-top:-20px;
  }
</style>
<!-- </head> -->
<body>
    <div class="cont">
      <h1 class="text-center" style="color:rgb(0, 0, 0);margin-top:100px;font-size:60px;font-style:monospace;">Our Mission & Vision</h1>
      <div class="" style="background-color:rgba(95, 255, 235,0.3);margin-top:-20px;">
        <div class="container">
            <div class="jumbotron" style="text-align:center;background-color:rgba(255, 255, 255,0.5);margin-top:120px;margin-bottom:100px;">


                <div class="well" style="background-color:rgba(95, 240, 225,0.6);">

                    <h2>Mission</h2>
                    <p>Our mission is to deliver optimal solutions with quality and services at real time.</p>

                </div>
                <div class="well" style="background-color:rgba(95, 240, 225,0.6);">
                    <h2>Vision</h2>
                    <p>Our vision is to develop in a constant manner and grow as a major IT service provider to become a leading performer.</p>
                </div>
            </div>
        </div>
      </div>
    </div>
</body>
<!-- </html> -->
{% endblock %}
