{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}
{% block content %}
{{ block.super }}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  /* body{
    background:lightyellow;
  } */
    body{
        background-image:url("/media/projectpic/school5.jpg");
        background-repeat:no-repeat;
        background-size:cover;
    }
</style>
</head>
<body>
    <div class="container" style="background-color:darkcyan">
        <div class="jumbotron" style="text-align:center">
            <h1 style="color:darkcyan">Our Mission & Vision</h1>

            <div class="well">

                <h2>Mission</h2>
                <p>Our mission is to deliver optimal solutions with quality and services at real time</p>

            </div>
            <div class="well">
                <h2>Vision</h2>
                <p>Our vision is to develop in a constant manner and grow as a major IT service provider to become a leading performer</p>
            </div>
        </div>

    </div>

</body>
</html>
{% endblock %}
