{% load bootstrap3 %}
{% load static%}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8"> {% if title %}
  <title> Student Step Follower - {{title}}</title>
  {% else %}
  <title> Student Step Follower </title>
  <link rel="shortcut icon" href="media/projectpic/logo.png" type="image/x-icon">
  {% endif %}
  {% block styles %}
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Grand+Hotel" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  {% endblock %}


</head>

<body>
  {% include "navbar.html" %}
  {% block content %}
  {{block.super}}
  <h1 class='text-center'></h1>
  {%endblock%}
  {% block scripts %}{{block.super}}
  <script type="text/javascript" src="{%static 'js/newsletter.js'%}"></script>
  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  {% bootstrap_javascript %}


  {% endblock %}

</body>

</html>
