{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
      body{
       background-image: url("/media/projectpic/school5.jpg");
       background-repeat: no-repeat;
       background-size: 100% 350px;
      }
      .cont{
        background:rgba(150,250,250,0.3);
        margin-top:-20px;
      }
    </style>
  </head>
  <body>
    {{block.super}}
    <div class="cont">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

      <!-- <div class="container" style= "font-family: 'Cormorant Upright', serif; background-color:rgb(58, 117, 245); color:black">  -->
         <!-- <div class="jumbotron text-center" style= "background-color:rgb(163, 204, 199); color:black; font-family: monospace;">  -->
          <!-- <div class="jumbotron text-center" style= "background-color:rgb(153, 51, 51); color:darkcyan; font-family: monospace;"></div> -->
          <!-- <div class="well" style="color:black;"> -->
          <h1 style="text-align: center;font-size: 60px;color:black;padding-top:80px;"> Classes</h1>
          <div class="container" style= "font-family: 'Cormorant Upright', serif; color:black; padding-top:8%;padding-bottom:8%;" >

          <!-- </div> -->
          <div class="row">
            <div class="w3-container">
              {%for level in levels%}
              <div class="well" style="margin:17px;float:left;font-family:'Cormorant Upright',serif;background-color:rgb(157, 255, 255);width:30%;color:black;text-align:center;font-size:30px;">
              <button onclick="document.getElementById('#{{level.id}}').style.display='block'" class="w3-button w3-mediumturquoise">{{level.name}}</button>
              </div>

              <div id="#{{level.id}}" class="w3-modal">
                <div class="w3-modal-content">
                  <div class="w3-container" style="padding:30px;">
                    <span onclick="document.getElementById('#{{level.id}}').style.display='none'" class="w3-button w3-display-topright">&times;</span>

                    {%for student in students%}

                    {%if level.id == student.level.id %}
                    <div class="row">
                      <div class="col-md-6">
                        <p>{{student.fname}} {{student.lname}} </p>
                      </div>
                      <div class="col-md-3">
                        <a class="btn btn-primary"href="/add_discipline/{{id_guide}}/{{student.id}}" style="background:mediumturquoise;">Behaviour</a>
                      </div>
                      <div class="col-md-3">
                        <a class="btn btn-primary"href="/add_marks/{{id_guide}}/{{student.id}}" style="background:mediumturquoise;">Marks</a>
                      </div>
                    </div>
                    {%endif%}
                    {%endfor%}
                  </div>
                </div>
              </div>
              {%endfor%}
            </div>

          </div>
        <!-- </div> -->
      </div>
    </div>
  </body>
</html>
{% endblock %}


<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {{block.super}}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <div class="container" style= "font-family: 'Cormorant Upright', serif;">
      <div class="jumbotron text-center" style= "background-color:mediumturquoise; color:darkcyan; font-family: monospace;margin-top:50px;margin-bottom:100px;">
        <div class="well" style="color:black;">
          <h1> Classes</h1>
        </div>
        <div class="row">
          <div class="w3-container">
            {%for level in levels%}
            <div class="well" style= "margin:17px;float:left;font-family: 'Cormorant Upright', serif; width: 30%; color: rgb(153, 51, 51);">
            <button onclick="document.getElementById('#{{level.id}}').style.display='block'" class="w3-button w3-black">{{level.name}}</button>
            </div>

            <div id="#{{level.id}}" class="w3-modal">
              <div class="w3-modal-content">
                <div class="w3-container">
                  <span onclick="document.getElementById('#{{level.id}}').style.display='none'" class="w3-button w3-display-topright">&times;</span>

                  {%for student in students%}

                  {%if level.id == student.level.id %}
                  <p>{{student.fname}} {{student.lname}} </p>
                  <a class="btn btn-primary"href="/add_discipline/{{id_guide}}/{{student.id}}">add discipline</a>
                  <a class="btn btn-primary"href="/add_marks/{{id_guide}}/{{student.id}}">add marks</a>
                  {%endif%}
                  {%endfor%}
                </div>
              </div>
            </div>
            {%endfor%}
          </div>

        </div>
      </div>
    </div>

  </body>
</html> -->
