<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <nav class="navbar navbar-inverse" style="background-color:rgb(5, 37, 5)">
    <div class="container-fluid">
      <div class="navbar-header">

      </div>
      <div class="">
        <div class="col-md-2">
          <a class="navbar-brand" rel="home" href="#" title="SSF">
              <img style="max-width:100px; height:100px; padding-bottom: 60px;"
                   src="media/projectpic/logo1.png">
          </a>
        </div>
        <div class="col-md-2"></div>
          <!-- <div class="col-ml-2"> -->
            <a class="navbar-brand" href="{% url 'index' %}">Home</a>
          <!-- </div> -->
        <div class="col-md-2"></div>
          <!-- <div class="col-md-2"> -->
            <a class="navbar-brand" href="{% url 'about' %}">About</a>
          <!-- </div> -->
        <div class="col-md-2"></div>
        <!-- <li> -->
          <a class="navbar-brand" href="{%url 'guide_login' %}">Guide</a>
        <!-- </li> -->
        <div class="col-md-2"></div>
        <!-- <li> -->
          <a class="navbar-brand" href="{%url 'student_login'%}">Parent</a>
        <!-- </li> -->
          <div>
          <ul class="">


            <!-- <li class="dropdown">
                <a href="#" class="dropdown-toggle navbar-brand" data-toggle="dropdown" aria-expanded="false">
                  Role
                  <span class="caret"></span>
                </a>
                <ul class ="dropdown-menu"  style="top:30px;" role="menu">
                  <li>
                    <a class="dropdown-item" href="{%url 'guide_login' %}">Guide</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{%url 'student_login'%}">Parent</a>
                  </li>
                </ul>
            </li> -->
          </ul>
          </div>
        </ul>
      </div>
    </div>
  </nav>



</body>
</html>
