{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="panel-body">
      <div class="panel panel-default">
        <div class="col-md-8">
          <h3><a href="">Guides</a>
            <a class="btn btn-primary btn-lg" href="{%url 'add_guide' %}">Add Guide</a></h3><hr>
          <h3><a href="">Levels</a>
            <a class="btn btn-primary btn-lg" href="{%url 'add_level' %}">Add Class/ Level</a></h3><hr>
          <h3><a href="">Students</a>
            <a class="btn btn-primary btn-lg" href="{%url 'add_student' %}">Add Student</a></h3>
        </div>

      </div>
    </div>
    <div class="col-md-2">  </div>
  </div>
</div>
{% endblock %}
