{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
<header style="background:rgba(0,0,255,0.3);height:60px;font-size:30px;">
  <p class="text-center">School Admin Dashboard</p>
</header>
<div class="container">
  <div class="row">

    <div class="panel-body">
      <div class="panel panel-default">
        <div class="col-md-8">
          <h3><a style="margin-right:20.1vw;" href="">Guides</a>  <a style="width:200px;" class="btn btn-primary btn-lg" href="{%url 'add_guide' %}">Add Guide</a></h3><hr>
          <h3><a style="margin-right:20.5vw;" href="">Levels</a>  <a style="width:200px;" class="btn btn-primary btn-lg" href="{%url 'add_level' %}">Add Class/ Level</a></h3><hr>
          <h3><a style="margin-right:19.1vw;" href="">Students</a>  <a style="width:200px;" class="btn btn-primary btn-lg" href="{%url 'add_student' %}">Add Student</a></h3>
        </div>
      </div>
    </div>
    <div class="col-md-2">  </div>
  </div>
</div>
{% endblock %}
